* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer{
    background-color: orangered;
}

header div, footer div {
    display: flex;              
    justify-content: center;    
    align-items: center;  
    background-color: brown;          
}

.titulo{
    display: flex;
    justify-content: center; 
}

.formulario{
    display: flex;              
    justify-content: center;    
    align-items: center; 
    flex-direction: column; 
    width: 50%;
    background-color: aqua;
    border: 0.3em;
    border-style: dashed;
    border-color: gray;
}

.conteudo{
    display: flex;   
}

.confiabilidade{
    display: flex;              
    justify-content: center; 
    background-color: blueviolet;
    width: 50%;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    border: 0.5em;
    border-style: dotted;
    border-color: blue;
}

.mostrador {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 2em;
    width: 2em;
    background-color: yellowgreen;    
}

